
.contents {
  height: 100%;
}

header.header {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #D8D8D8;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
}

.header_bar {
  display: flex;
  height: 80px;
  padding: 20px 40px 0 40px;
  
}

.title_bar {
  height: 80px;
}

div.title_bar {
  display: flex;
  margin: 0 0 0  auto;
}

.main-user,
.main-date {
  font-size: 15px;
  width: 160px;
  height: 50px;
  font-size: 20px;
  margin: 20px 20px 0 25px;
}

.title-frame {
  color: brown;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin: 40px 0 20px 0;
  padding-bottom: 10px;
  border-bottom: solid 3px brown;
}

.post {
  width: 150px;
  height: 50px;
  text-align: center;
  font-weight: 600;
  color: brown;
  border: solid 2px brown;
  border-radius: 20px;
  padding: 10px 30px;
  margin-left: 30px;
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(239, 239, 239);
}
.main-contents {
  display: flex;
}

.main-container {
  width: 80%;
  margin: 100px 80px 100px 250px;
}

.report-image {
  width: 60%;
  margin: 0 auto;

}
.report-image img{
  width: 100%;
}

.goodbad{
  width: 40px;
}

.drawer-menu li h4{
  padding-left: 30px;
  padding-top: 30px;
}
.drawer-menu li span{
  padding-left: 30px;
}

.header-name {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}
