.item-list{
  margin: 30px 110px 30px 110px ;
}

.item-part {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  height: 35px;
}

.item-add-btn{
  font-size: 22px;
}

.item-info {
  margin: 30px 110px 30px 110px ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid brown;
  font-size: 22px;
}



